<template lang="html">
<div class="col-md-4 pull-right text-right"><b>Chatting with -</b> {{ recipient.name }} </div>
</template>

<script>
    export default {
        props: ['recipient']
    }
</script>

<style lang="css">
    
</style>
