<template lang="html">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <contact v-for="user in users" :user="user" v-on:participantchanged="changeParticipant"></contact>
            </ul>
        </div>
</template>

<script>
    export default {
        props: ['users'],
        methods:{
            changeParticipant(participant){
                this.$emit('participantchanged', participant);
            }
        }
    }

</script>

<style lang="css">

</style>
