<template lang="html">
    <li class="active"><a @click="changeParticipant">{{ user.name }}<span class="sr-only"></span></a></li>
</template>

<script>
    export default {
        props: ['user'],
        methods:{
            changeParticipant(){
                this.$emit('participantchanged', this.user);
            }
        }
    }
</script>

<style lang="css">

</style>
